# Enable rewriting
RewriteEngine On

# Make sure the request isn't for an existing file or directory
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Remove .php extension from URLs
RewriteRule ^([^/]+)$ $1.php [L,QSA]
