@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

body {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
}

.border-dashed {
  --bs-border-style: dashed;
}
